# Dataset

As a dataset we will use the `Wines.xls` dataset

First, inspect the dataset using pandas

In [11]:
import pandas as pd

xls = pd.ExcelFile('Wines.xls')

# Check the name of the sheets, we only care about the DATA sheet
xls.sheet_names

['DESCRIPTION', 'DATA']

In [63]:
# Read the DATA sheet into a dataframe
df = xls.parse('DATA')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,WINE,Compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,ASP,GLU,ASN,SER,GLN,HIS,GLY,THR,...,ILE,LEU,ORN,LYS,ETIL,TIRA,PUT,TRY+FEN,ISO,PRO
3,1.0,VB112,28.380612,30.528426,12.275887,10.857508,0.4,,8.683687,12.058558,...,9.905341,31.934328,,35.251263,0.969518,1.278082,2.327478,,,463.192112
4,2.0,VB121,32.224074,35.600594,38.242229,22.621702,0.980922,23.552819,23.517038,19.008704,...,19.268037,32.721343,36.417479,53.702954,4.430601,4.964574,16.634434,6.393641,2.886611,574.101809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,63.0,VT614,26.534587,57.100928,25.607935,28.268687,0.101431,17.492285,21.866714,19.413253,...,17.986637,21.775345,18.78474,37.887236,4.140819,5.040405,16.888515,6.4913,2.930703,683.720745
66,64.0,VT713,24.301417,24.681918,2.275388,25.220379,,0.513012,20.009197,11.871281,...,9.351799,15.990727,5.649555,78.214819,,11.748506,10.059267,1.161247,2.054346,1075.718014
67,65.0,VT714,19.091316,21.548962,2.082634,18.355344,0.053899,1.502107,17.619821,8.954636,...,7.09271,11.274595,0.858394,36.161931,1.535652,2.100358,9.109142,2.019328,0.693571,1175.35954
68,66.0,VT813,28.279365,26.466633,5.518072,18.159819,,0.77427,23.022291,11.395769,...,5.911776,12.448805,7.157886,48.353435,9.182653,15.000987,12.361622,2.374965,2.2457,1153.939284
69,67.0,VT814,36.780846,37.44433,4.632069,26.640398,0.073131,1.019124,30.618478,14.877441,...,8.483568,17.408534,2.201081,93.436891,7.242223,1.73017,26.913186,NaN,0.871158,1279.907768

In [64]:
# We need to reformat the dataframe to get correct rows and column names
# Column names are stored in the third row
column_names = df.iloc[2].values.flatten().tolist()
column_names[:10]  # Show only the first 10 so it doesn't take up too much space

[nan, nan, 'ASP', 'GLU', 'ASN', 'SER', 'GLN', 'HIS', 'GLY', 'THR']

In [65]:
# The first dimension is index which is unnecessary, since pandas indexes the dataframe automatically
# The second dimension is the type of wine
column_names = column_names[1:]
column_names[0] = 'Wine'

# Drop the first column
df = df.drop(df.columns[0], axis=1)

# Drop the first three rows since they only contain excel formatting, reset the index which does not update automatically
df = df.drop(df.index[0:3], axis=0)
df = df.reset_index(drop=True)

# Finally, rename the columns
current_col_names = df.columns.values.tolist()
new_col_names = {prev_col_name: new_col_name for prev_col_name, new_col_name in zip(current_col_names, column_names)}
df = df.rename(columns=new_col_names)

df

,Wine,ASP,GLU,ASN,SER,GLN,HIS,GLY,THR,CIT,...,ILE,LEU,ORN,LYS,ETIL,TIRA,PUT,TRY+FEN,ISO,PRO
0,VB112,28.380612,30.528426,12.275887,10.857508,0.4,,8.683687,12.058558,5.51666,...,9.905341,31.934328,,35.251263,0.969518,1.278082,2.327478,,,463.192112
1,VB121,32.224074,35.600594,38.242229,22.621702,0.980922,23.552819,23.517038,19.008704,23.273827,...,19.268037,32.721343,36.417479,53.702954,4.430601,4.964574,16.634434,6.393641,2.886611,574.101809
2,VB211,37.035929,45.028735,16.796011,15.815804,0.8,,14.71323,18.473424,5.845865,...,11.052809,43.748301,13.7673,48.296671,3.046573,2.018275,6.082058,2,,831.607718
3,VB212,32.447144,47.406785,10.949921,15.997642,0.8,,12.591902,12.705562,5.573482,...,9.332331,24.577248,15.631639,39.004543,2.215332,1.749521,4.53536,2.209309,4.341496,1206.767551
4,VB213,33.17593,47.019446,13.331391,12.61918,0.4,,11.734626,14.377389,5.586616,...,10.578281,31.799918,25.328944,45.062807,1.834938,1.141817,4.704787,2.14481,4.060673,618.189713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,VT614,26.534587,57.100928,25.607935,28.268687,0.101431,17.492285,21.866714,19.413253,19.168689,...,17.986637,21.775345,18.78474,37.887236,4.140819,5.040405,16.888515,6.4913,2.930703,683.720745
63,VT713,24.301417,24.681918,2.275388,25.220379,,0.513012,20.009197,11.871281,1.274271,...,9.351799,15.990727,5.649555,78.214819,,11.748506,10.059267,1.161247,2.054346,1075.718014
64,VT714,19.091316,21.548962,2.082634,18.355344,0.053899,1.502107,17.619821,8.954636,0.244775,...,7.09271,11.274595,0.858394,36.161931,1.535652,2.100358,9.109142,2.019328,0.693571,1175.35954
65,VT813,28.279365,26.466633,5.518072,18.159819,,0.77427,23.022291,11.395769,1.553587,...,5.911776,12.448805,7.157886,48.353435,9.182653,15.000987,12.361622,2.374965,2.2457,1153.939284
66,VT814,36.780846,37.44433,4.632069,26.640398,0.073131,1.019124,30.618478,14.877441,2.018602,...,8.483568,17.408534,2.201081,93.436891,7.242223,1.73017,26.913186,NaN,0.871158,1279.907768

In [ ]:
# There are also some ' ' values in the dataframe, which we need to replace with NaN

# Dimensionality reduction

To reduce the dimensionality of the dataset we will use the `PCA` algorithm

In [66]:
# Wine dimension cannot be reduced since it is a categorical variable (i.e. it is a class)
n_dims = len(df.columns.values.tolist()[1:])

f'Number of dimensions: {n_dims}'

'Number of dimensions: 30'

In [67]:
# Features are what we reduce, label is the categorical variable
features = df.iloc[:, 1:].values
labels = df.iloc[:, 0].values

features, labels

(array([[28.38061188188949, 30.52842596850613, 12.275887401255028, ...,
         ' ', ' ', 463.1921115120177],
        [32.224073578598464, 35.60059432975862, 38.24222858429853, ...,
         6.393640529664529, 2.8866112797367447, 574.1018094727879],
        [37.035929325477724, 45.02873518499164, 16.79601148913314, ..., 2,
         ' ', 831.607718142901],
        ...,
        [19.091315617045467, 21.54896234635668, 2.0826342337952344, ...,
         2.019328299838186, 0.6935706693706201, 1175.359539622379],
        [28.279365439220324, 26.466633448272564, 5.518071884421802, ...,
         2.374965243683385, 2.245699890826884, 1153.9392844922631],
        [36.78084591798595, 37.44432989105141, 4.632069192079961, ...,
         nan, 0.8711576114206436, 1279.90776800306]], dtype=object),
 array(['VB112', 'VB121', 'VB211', 'VB212', 'VB213', 'VB221', 'VB311',
        'VB312', 'VB313', 'VB321', 'VB322', 'VB323', 'VB411', 'VB412',
        'VB413', 'VB421', 'VB422', 'VB423', 'VB511', 'VB512', 'VB521',
        'VB522', 'VB531', 'VB532', 'VB611', 'VB612', 'VB711', 'VB712',
        'VB811', 'VB812', 'VT113', 'VT114', 'VT122', 'VT123', 'VT131',
        'VT132', 'VT133', 'VT214', 'VT216', 'VT222', 'VT223', 'VT314',
        'VT315', 'VT317', 'VT324', 'VT325', 'VT326', 'VT414', 'VT415',
        'VT416', 'VT424', 'VT425', 'VT426', 'VT431', 'VT514', 'VT515',
        'VT516', 'VT523', 'VT524', 'VT533', 'VT534', 'VT613', 'VT614',
        'VT713', 'VT714', 'VT813', 'VT814'], dtype=object))

Perform PCA in three steps:

- Scale the data - this way no feature will dominate the others
- Compute covariance matrix
- Eingenvalue decomposition

In [ ]:
from sklearn.preprocessing import StandardScaler




# To scale the features, we use StandardScaler
standard_scaler = StandardScaler()
features_scaled = standard_scaler.fit_transform(features)